# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Environments & IDEs
.env
.venv
env/
venv/
.idea/
.vscode/

# Logs
*.log
logs/

# Local personal files and user scratchpad (never commit)
local/
/local/
local/**

